<header class="header">
  <div class="container">
    {% if site.logo %}{% include site-logo.html %}{% endif %}

    {% include nav-header.html %}
  </div>

  {% include site-feature.html %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [ ['$','$'], ['\\(','\\)']],
        displayMath: [ ['$$','$$'], ['\[','\]'] ]
        displayAlign: "center"

      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 

</header>
